/* Product detail */


.woocommerce, .woocommerce-page {
	.woocommerce-Tabs-panel {
		table {
			th {
				color: @brand-color;
				font-size: 18px;
			}
		}
		&.panel{
			box-shadow: none;
		}
	}
}

.woocommerce {

	div.product {
		div.images{
			margin-bottom: 5em;
		}
		.woocommerce-tabs .panel{
			padding: 0 0 2em 0;
		}
	}
	#page-wrapper #main{
		.product {
			.summary {
				h1.entry-title {
					font-size: 35px;
					color: @brand-color;
				}
				.product_meta {
					display: none;
				}
			}

		}
		ul.products {
			li.product {
				a {
					img {
						width: auto;
						height: 180px;
						margin: 0 auto 1em;
					}
				}
			}
		}
		.upsells.products, .related.products {
			ul.products {
				li.product {
					max-width: none;
				}
			}
		}
	}
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background-color: @light-grey;
}

.item-description {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&__description-with-image {
		img {
			float: left;
			margin-right: 20px;
		}
	}
	&__description-video {
		max-width: 560px;
	}
}

.woocommerce a.button.short-description__contact-button{
	margin-top: 25px;
}

.list-number {
	.numbers {
		margin-right: 5px;
		font-weight: bold;
		font-size: 16px;
	}
}
